# 时区
TZ=Asia/Shanghai

# MySQL
MYSQL_DATABASE=fota_web_platform
MYSQL_USERNAME=root
MYSQL_ROOT_PASSWORD=yefeng123

# Redis
REDIS_PORT=6379

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=yefeng123
MINIO_BUCKET_NAME=fota-firmware
MINIO_DEVICE_BUCKET_NAME=device-firmware

# 业务服务
FOTA_JWT_SECRET=Replace-With-A-Long-Random-Secret-At-Least-32-Chars
FOTA_GATEWAY_PORT=8224

# 宿主机端口映射
NGINX_HTTP_PORT=80
WEB_HTTP_PORT=8080
GATEWAY_HTTP_PORT=8081
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# JVM。jdk17、UseG1GC。取决于Dockerfile
JAVA_OPTS_WEB="-Xms256m -Xmx512m"
JAVA_OPTS_GATEWAY="-Xms1536m -Xmx1536m"
JAVA_OPTS_MOCK="-Xms2048m -Xmx1536m"
# mq broker
JAVA_OPTS_ROCKETMQ_BROKER="-Xms512m -Xmx1024m -Xmn512m -XX:MaxDirectMemorySize=256m"
