<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yef.fota.mapper.BatchUpgradeTaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yef.fota.entity.BatchUpgradeTaskEntity">
        <id column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="firmware_id" property="firmwareId" />
        <result column="status" property="status" />
        <result column="total_count" property="totalCount" />
        <result column="success_count" property="successCount" />
        <result column="fail_count" property="failCount" />
        <result column="created_by" property="createdBy" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, group_id, firmware_id, status, total_count, success_count, fail_count, created_by, created_at
    </sql>

</mapper>
