<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yef.fota.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yef.fota.entity.DeviceEntity">
        <id column="id" property="id" />
        <result column="imei" property="imei" />
        <result column="device_name" property="deviceName" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imei, device_name, firmware_version, created_at
    </sql>

</mapper>
