<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yef.fota.mapper.DeviceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yef.fota.entity.DeviceEntity">
        <id column="id" property="id" />
        <result column="imei" property="imei" />
        <result column="device_name" property="deviceName" />
        <result column="device_type" property="deviceType" />
        <result column="current_firmware_version" property="currentFirmwareVersion" />
        <result column="device_upgrade_status" property="deviceUpgradeStatus" />
        <result column="target_firmware_id" property="targetFirmwareId" />
        <result column="last_upgrade_task_id" property="lastUpgradeTaskId" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, imei, device_name, device_type, current_firmware_version, device_upgrade_status, target_firmware_id, last_upgrade_task_id, created_at, updated_at
    </sql>

</mapper>
