<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yef.fota.mapper.OperateLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yef.fota.entity.OperateLogEntity">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="action" property="action" />
        <result column="target_id" property="targetId" />
        <result column="detail" property="detail" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, action, target_id, detail, created_at
    </sql>

</mapper>
